/* Стили для карточки товара */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-image: url(https://www.zastavki.com/pictures/originals/2019Creative_Wallpaper_Multicolored_thick_smoke_on_a_black_background_135666_.jpg);
  background-size: cover;
  position: relative;
}
a {
  text-decoration: none;
  color: white;
}
button{
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  transition: 0.4s;
}
button:hover {
  transform: scale(1.1);
}
/* ! start header */
header {
  background-color: #000000d7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__NameShop {
  display: flex;
  align-items: center;
}
.header__nameShop {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 46px;
}
header img {
  width: 120px;
  height: 120px;
  cursor: pointer;
}
.header__contact {
  width: 34px;
  height: 34px;
  transition: 0.2s;
}
.header__contact:hover {
  transform: scale(1.1);
}
.header__icons{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
/* ! finifsh header */

.product-card-h3 {
  color: white;
  font-size: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 10px;
}

.product-card-container {
  border: 5px solid transparent;
  border-image: linear-gradient(to right, #00fbff, #7a0053);
  border-image-slice: 1;
  background-color: #a3006d47;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  width: 90%; /* Максимальная ширина контейнера, чтобы карточки не разъезжались на широких экранах */
  margin: 0 auto; /* Центрирование контейнера на странице */
  margin-bottom: 20px;
  margin-top: 15px;
}

.product-card {
  /* max-width: 26%; */
  width: 410px;
  /* flex-basis: calc(33.33% - 20px); */
  margin: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.02);
}

.product-card__image {
  width: 35%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.product-card__title {
  font-size: 18px;
  margin-top: 10px;
}

.product-card__description {
  font-size: 14px;
  color: #000000a4;
  margin-top: 5px;
}

.product-card__price {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  color: #000000;
}

.product-card__button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-card__button:hover {
  background-color: #3d3d3d;
}

/*!  */
.gradient-border {
  border: 5px solid transparent;
  border-image: linear-gradient(to right, #000000, #818181);
  border-image-slice: 1;
}
#modal {
  display: none;
  width: 900px;
  height: 400px;
  max-width: 70%;
  margin: 25px auto;
  position: fixed;
  top: 15%;
  left: 20%;
  background-color: #fff;
}

#modalLeft {
  max-width: 100%;
  max-height: 100%;
}

#modalRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 64px;
  padding-right: 60px;
  margin-top: 30px;
}

#modalRight h2 {
  font-size: 40px;
  margin: 0px;
}

#modalRight h3 {
  font-weight: 500;
  font-size: 30px;
  color: #998e78;
  margin: 15px 0;
}

#modalRight p {
  margin-bottom: 80px;
  font-size: 18px;
}

#btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.buyBtn:hover {
  background-color: #fff;
  color: #6e9c9f;
  border: 2px solid #6e9c9f;
  transition: 0.3s;
}

.buyBtn {
  padding: 22px 50px;
  background: #6e9c9f;
  width: 180px;
  height: 65px;
  border: none;
  border-radius: 10px;
  color: white;
}

#closeBtn {
  border: none;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  width: 30px;
  margin-left: 470px;
  color: #4e3a14;
}

/*!  */
.image-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(117, 117, 117, 0.104); /* Цвет и прозрачность overlay */
  opacity: 0; /* Изначально делаем overlay непрозрачным (невидимым) */
  transition: opacity 0.3s ease; /* Добавляем анимацию на изменение прозрачности */
}

.image-container:hover .overlay {
  opacity: 1; /* При наведении на картинку делаем overlay полностью прозрачным (видимым) */
}
/*!  */

footer {
  min-height: 34vh;
  background-color: rgba(0, 0, 0, 0.803);
  /* background-image: url(../images/bg-footer.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__container {
  margin: 0 auto;
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer__icon {
  margin-right: 18%;
  text-align: center;
  width: 160px;
}
.footer__icon img {
  width: 100%;
}
.footer__icon h3 {
  color: rgb(143, 0, 0);
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
}
.footer__container p {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.footer__contact {
  padding: 6px 0;
  width: 100px;
}
.footer__contact img {
  height: 1rem;
  width: 1rem;
}
.footer__contact a {
  font-family: "Roboto", sans-serif;
}

#header-btn-back img {
  cursor: pointer; /* Изменение курсора при наведении на кнопку */
  width: 2em;
  height: 2em;
  transition: 0.2s;
}

#header-btn-back img:hover {
  transform: scale(1.1);
}
.pagination__btns{
  text-align: center;
}
.btn{
  padding: 0.05em 0.4em;
  font-size: 2em;
  background-color: #998e7800;
  color: white;
  border: 5px solid transparent; 
  border-image: linear-gradient(to right, #002e0b, #650000); 
  border-image-slice: 1; 
  background-color: #71000030;
}
