/* Стили для карточки товара */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-image: url(https://phonoteka.org/uploads/posts/2022-01/1643600072_1-phonoteka-org-p-temnii-fon-s-dimom-1.png);
  background-size: cover;
  position: relative;
}
button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  transition: 0.4s;
}
button:hover {
  transform: scale(1.1);
}
a {
  text-decoration: none;
  color: white;
}

/* ! start header */
header {
  background-color: #00000066;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__NameShop {
  display: flex;
  align-items: center;
}
.header__nameShop {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 46px;
}
header img {
  width: 120px;
  height: 120px;
  cursor: pointer;
}
.header__contact {
  width: 34px;
  height: 34px;
  transition: 0.2s;
}
.header__contact:hover {
  transform: scale(1.1);
}
/* ! finifsh header */

.product-card-h3 {
  color: white;
  font-size: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 10px;
}

.product-card-container {
  border: 5px solid transparent;
  border-image: linear-gradient(to right, #000000, #290031);
  border-image-slice: 1;
  background-color: #29003530;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  width: 1200px; /* Максимальная ширина контейнера, чтобы карточки не разъезжались на широких экранах */
  margin: 0 auto; /* Центрирование контейнера на странице */
  margin-bottom: 20px;
  margin-top: 15px;
}

.product-card {
  max-width: 26%;
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.02);
}

.product-card__image {
  width: 70%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.product-card__title {
  font-size: 18px;
  margin-top: 10px;
}

.product-card__description {
  font-size: 14px;
  color: #000000a4;
  margin-top: 5px;
}

.product-card__price {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  color: #000000;
}

.product-card__button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-card__button:hover {
  background-color: #3d3d3d;
}

.product-card__button2 {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-card__button2:hover {
  background-color: #3d3d3d;
}

/*!  */
.gradient-border {
  border: 5px solid transparent;
  border-image: linear-gradient(to left, #000000, #290031);
  border-image-slice: 1;
  background-color: #29003530;
}
#modal2 {
  display: none;
  width: 900px;
  height: 400px;
  max-width: 70%;
  margin: 25px auto;
  position: fixed;
  top: 15%;
  left: 17%;
  background-color: #fff;
}

#modalLeft {
  margin-top: 16%;
  max-width: 100%;
  max-height: 100%;
}

#modalRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 64px;
  padding-right: 60px;
  margin-top: 30px;
}

#modalRight h2 {
  font-size: 40px;
  margin: 0px;
}

#modalRight h3 {
  font-weight: 500;
  font-size: 30px;
  color: #998e78;
  margin: 15px 0;
}

#modalRight p {
  margin-bottom: 80px;
  font-size: 18px;
}

#btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.buyBtn:hover {
  background-color: #fff;
  color: #6e9c9f;
  border: 2px solid #6e9c9f;
  transition: 0.3s;
}

.buyBtn {
  padding: 22px 50px;
  background: #6e9c9f;
  width: 180px;
  height: 65px;
  border: none;
  border-radius: 10px;
  color: white;
}

#closeBtn {
  border: none;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  width: 30px;
  margin-left: 96%;
  color: #4e3a14;
}

/*!  */
.image-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(117, 117, 117, 0.104); /* Цвет и прозрачность overlay */
  opacity: 0; /* Изначально делаем overlay непрозрачным (невидимым) */
  transition: opacity 0.3s ease; /* Добавляем анимацию на изменение прозрачности */
}

.image-container:hover .overlay {
  opacity: 1; /* При наведении на картинку делаем overlay полностью прозрачным (видимым) */
}
/*!  */

footer {
  height: 34vh;
  background-color: rgba(0, 0, 0, 0.758);
  /* background-image: url(../images/bg-footer.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__container {
  margin: 0 auto;
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__icon {
  margin-right: 18%;
  text-align: center;
}
.footer__icon img {
  width: 180px;
}
.footer__icon h3 {
  color: rgb(143, 0, 0);
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
}
.footer__container p {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.footer__contact {
  padding: 6px 0;
}
.footer__contact img {
  height: 1rem;
  width: 1rem;
}
.footer__contact a {
  font-family: "Roboto", sans-serif;
}

#header-btn-back img {
  cursor: pointer; /* Изменение курсора при наведении на кнопку */
  width: 2em;
  height: 2em;
  transition: 0.2s;
}

#header-btn-back img:hover {
  transform: scale(1.1);
}
.pagination__btns {
  text-align: center;
}
.btn {
  padding: 0.05em 0.4em;
  font-size: 2em;
  color: white;
  border: 3px solid transparent;
  border-image: linear-gradient(to bottom, #000000, #290031);
  border-image-slice: 1;
  background-color: #29003530;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}

.allInputs {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.inputs {
  width: 165px;
  height: 35px;
  background-color: white;
  /* cursor: pointer; */
  border: 2px solid rgb(0, 70, 0);
  transition: 0.3s;
  text-align: center;
  border-radius: 5px;
  border: 3px solid transparent;
  border-image: linear-gradient(to bottom, #000000, #290031);
  border-image-slice: 1;
  background-color: #29003530;
}

.inputs:hover {
  transition: 0.1s;
  border-radius: 5px;
  font-size: 1em;
}
#btnCreate {
  width: 3%;
  height: 3em;
  background-color: #998e7800;
  color: white;
  border: 3px solid transparent;
  border-image: linear-gradient(to bottom, #000000, #290031);
  border-image-slice: 1;
  background-color: #29003530;
}

.btnEdit {
  width: 40%;
  height: 5%;
  border: 2px solid black;
}
.formEdit {
  /* display: flex; */
  margin: auto;
  /* width: 100%; */
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.editH2 {
  color: white;
  text-align: center;
}

#closeEditModal {
  height: 5%;
  width: 5%;
}
.editModal {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 40%;
  border: 3px solid transparent;
  border-image: linear-gradient(to bottom, #000000, #290031);
  border-image-slice: 1;
}

.editInps {
  width: 300px;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 3px solid transparent;
  border-image: linear-gradient(to bottom, #000000, #290031);
  border-image-slice: 1;
  background-color: #d75bef;
}

#modal {
  display: none;
  width: 400px;
  height: 400px;
  max-width: 70%;
  margin: 25px auto;
  position: fixed;
  top: 15%;
  left: 35%;
  background-color: #290035f7;
}

#editForm button {
  color: white;
  border: 3px solid transparent;
  border-image: linear-gradient(to bottom, #000000, #290031);
  border-image-slice: 1;
  background-color: #29003530;
}
